.header__logo {
  background-image: url("../../../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin: 28px 27px 32px;
  }
}
