@import url("./vendor/normalize.css");

div, section, h1, h2, h3, p, ul, li, img, a {
  border: 1px solid red;
}

.page {
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  margin: 45px 200px 0;
  width: 100%;
  max-width: 880px;
  min-height: 73px;
  border-bottom: 1px #545454 solid;
}

.header__logo {
  background-image: url("./images/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 173px;
  height: 33px;
}

.content {
  margin: 40px 200px 0;
  max-width: 880px;
  width: 100%;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.profile__avatar {
  border-radius: 50%;
  max-height: 120px;
}

.profile__info {
  padding-left: 30px;
}

.profile__name-container {
  display: flex;
  margin-top: 22px;
  margin-bottom: 16px;
}

.profile__name {
  margin: 0;
  color: white;
  font-size: 42px;
  line-height: 48px;
}

.profile__edit-button {
  margin-left: 18px;
  height: 24px;
  width: 24px;
  align-self: flex-end;
}

.profile__job {
  margin: 0;
  color: white;
}

.profile__add-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 100%;
  max-width: 150px;
}

.places {
  padding-top: 50px;
}

.places__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 17px;
}

.places__card {
  height: 361px;
  background-color: white;
  border-radius: 10px;
}

.places__image {
  max-width: 282px;
  border-radius: 10px 10px 0 0;
}

.places__title-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 31px 21px;
}

.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}

.places__heart {
  width: 20.76px;
  height: 18.13px;
  align-self: flex-end;
  background-image: url("./images/heart.svg");
  background-size: contain;
}
