.popup__close-button {
  padding: 0;
  position: absolute;
  height: 40px;
  width: 40px;
  top: -30px;
  right: -30px;

  background-image: url("../../../images/close-icon.svg");
  background-color: rgba(0,0,0,0);
  background-size: contain;

  border: none;
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__close-button:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    right: 0px;
    top: -44px;
  }
}
