.edit__item {
  margin: 0;
  padding: 0 0 13.26px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  font-size: 14px;
  line-height: 16.94px;
}

.edit__item:focus {
  outline: none;
}

.edit__item:nth-child(2) {
  margin-bottom: 48px;
}
