.edit__close-button {
  padding: 0;
  position: absolute;
  height: 40px;
  width: 40px;
  top: -30px;
  right: -30px;

  background-image: url("../../../images/close-icon.svg");
  background-color: rgba(0,0,0,0);
  background-size: contain;

  border: none;
}

.edit__close-button:hover {
  cursor: pointer;
}

.edit__close-button:focus {
  outline: none;
}

.edit__close-button:active {
  opacity: 0.6;
}
