@import url("./__button/edit__button.css");
@import url("./__close/edit__close.css");
@import url("./__container/edit__container.css");
@import url("./__content/edit__content.css");
@import url("./__form/edit__form.css");
@import url("./__input-container/edit__input-container.css");
@import url("./__item/edit__item.css");
@import url("./__title/edit__title.css");

.edit {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}
