.edit {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.edit__item {
  margin: 0;
  padding: 0 0 13.26px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);

  font-size: 14px;
  line-height: 16.94px;
}

.edit__item:focus {
  outline: none;
}

.edit__item:nth-child(2) {
  margin-bottom: 48px;
}

.edit__button {
  margin: 0;
  padding: 0;
  height: 50.15px;
  background-color: black;
  border: none;

  color: white;
  font-size: 18px;
  line-height: 21.78px;
}

.edit__close {
  padding: 0;
  position: absolute;
  height: 40px;
  width: 40px;
  top: -30px;
  right: -30px;

  background-image: url("../../../images/close-icon.svg");
  background-color: rgba(0,0,0,0);
  background-size: contain;

  border: none;
}

.edit__close:focus {
  outline: none;
}
