@import url("./__close-button/modal__close-button.css");
@import url("./__content/modal__content.css");
@import url("./__form/modal__form.css");
@import url("./__item/modal__item.css");
@import url("./__save-button/modal__save-button.css");
@import url("./__title/modal__title.css");
@import url("./_hidden/modal_hidden.css");

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  overflow: auto;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: visibility 0.3s, opacity 0.3s linear;
}
