.profile__job {
  margin: 0;
  max-width: 530px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


@media screen and (max-width: 720px) {
  .profile__job {
    text-align: center;
    margin-bottom: 36px;
  }
}
